.body{
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 20cm;
    padding-top: 80px;
}

.stock-container{
    margin: 250px 0px 0px 300px;
    flex: 1;
}

.image-section{
    flex: 1;
}

@media (max-width:400px) {
    .body{
        padding: 150px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .stock-container{
        margin: 0;
    }
    
    .image-section{
        height: max-content;
        padding-bottom: 20px;
        
    }
}