.footer-container{
    margin-top: 150px;
    background-color: rgb(10, 10, 114);
    padding: 0px 0px 10px 0px;
}
.footer-content{
    color: white;
    padding: 20px 250px 0px 250px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}

.footer-list{
    list-style: none;
    line-height: 32px;
    text-align:start ;
    padding: 0;
   
}

.footer-content h5{
    color: white;
}